{% extends "users/layout.html" %}
{% load blog_tags %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Blog{% endblock %}

{% block content %}
<body id="bg">
<div class="page-wraper">

    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Blog</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Blog</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-8 col-md-7 col-sm-12">
                        <!-- Blog large img -->
						{% if tag %}
						<h2>Posts tagged with "{{ tag.name }}"</h2>
					{% endif %}

					   
					{% for post in posts %}   
						<div class="blog-post blog-lg blog-style-1">
							<div class="dez-info">
								 <div class="dez-post-meta">
									<ul class="d-flex align-items-center">
										<li class="post-date"><i class="fa fa-calendar"></i>{{ post.publish }}</li>
										<li class="post-author"><i class="fa fa-user"></i>By <a href="#">{{ post.author }}</a> </li>
										{% with comments.count as total_comments %}
										<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">
												{{ total_comments }} Comment{{ total_comments|pluralize }} </a></li>
										{% endwith %} 
									</ul>
								</div>
								<div class="dez-post-title ">
									<h4 class="post-title font-24"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
									<p class="tags">
										Tags:
										{% for tag in post.tags.all %}
										<a href="{% url 'blog:post_list_by_tag' tag.slug %}">
										{{ tag.name }}
										</a>
										{% if not forloop.last %}, {% endif %}
										{% endfor %}
										</p>
									
								</div>
								<div class="dez-post-text">
									<p>{{ post.content|markdown|truncatewords_html:30 }}</p>
								</div>
								<div class="dez-post-readmore blog-share"> 
									<a href="{{ post.get_absolute_url }}" title="READ MORE" rel="bookmark" class="site-button outline">READ MORE</a>
								</div>
							</div>
						</div>
						{% endfor %}

					 
						<!-- Blog large img END -->
                        <div class="pagination-bx clearfix text-center">

							<nav>
								{% if posts.has_other_pages %}
									<ul class="pagination justify-content-center">
										
										{% if posts.has_previous %}
											<li class="page-item"><a class="page-link active" href="?page={{ posts.previous_page_number }}">Prev</a></li>
										{% else %}
											<li class="disabled"></li>
										{% endif %}
							
										{% for pages in posts.paginator.page_range %}
											{% if posts.number == pages %}
												<li class="page-item"><a class="page-link" href="#">{{pages}}</a></li>
											{% else %}
												<li class="page-item"><a class="page-link active" href="?page={{ pages }}">{{pages}}</a></li>
											{% endif %}
										{% endfor %}
							
										{% if posts.has_next %}
											<li class="page-item"><a class="page-link active" href="?page={{ posts.next_page_number }}">Next</a></li>
										{% else %}
											<li class="disabled"></li>
										{% endif %}
										
									</ul>
								{% endif %}
							</nav>
 
						</div>
                        <!-- Pagination END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 col-md-5 col-sm-12 sticky-top">
                        <aside  class="side-bar">
                            
							<div class="widget widget-popular-posts">
								<h4 class="widget-title">All posts ({% total_posts %})</h4>
                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title style-1">Recent Posts</h6>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
										{% show_latest_posts 3 %}
                                        <div class="dez-post-media"><a href="{{ post.get_absolute_url }}"> </div>
                                        <div class="dez-post-info">
                                            <div class="dez-post-header">
                                                <h6 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
                                            </div>
										 
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
							
							<div class="widget">
								<h4 class="widget-title">Most commented posts</h4>
								{% get_most_commented_posts as most_commented_posts %}
							<ul class="posts-list">
								{% for post in most_commented_posts %}
							<li>
							<div class="widget-thumb">
							<a href="#"><img src="static/img/blog/thumb1.jpg" alt="" /></a>
							 </div>
							<div class="widget-content">
								<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
							<span><i class="icon-calendar"></i>{{ post.publish }}</span>
							</div>
							<div class="clearfix"></div>
							</li>
							{% endfor %}
 
							
						 
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
    
{% endblock  %}