{% extends "users/layout.html" %}
{% load blog_tags %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<body id="bg">
<div class="page-wraper">
 
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Blog Details</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Blog Details</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-8 col-md-7 m-b10">
                        <!-- blog start -->
                        <div class="blog-post blog-single blog-style-1">
							<div class="dez-post-meta">
								<ul class="d-flex align-items-center">
									<li class="post-date"><i class="fa fa-calendar"></i>{{ post.publish }}</li>
									<li class="post-author"><i class="fa fa-user"></i>By <a href="#">{{ post.author }}</a> </li>
                                    {% with comments.count as total_comments %}
                                    <li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">
                                            {{ total_comments }} Comment{{ total_comments|pluralize }} </a></li>
                                    {% endwith %} 
								</ul>
							</div>
                            <div class="dez-post-title">
                                <h4 class="post-title m-t0"><a href="#">{{ post.title }}</a></h4>
                            </div>
                            <div class="dez-post-media dez-img-effect zoom-slow m-t20"> <a href="#"><img src="static/images/blog/default/thum1.jpg" alt=""></a> </div>
                            <div class="dez-post-text">
                                {{ post.content|markdown }}
                            </div>
                            <div class="dez-post-tags clear">
                                <div class="post-tags">
                                    
                                    <p class="tags">
										Tags:
										{% for tag in post.tags.all %}
										<a href="{% url 'blog:post_list_by_tag' tag.slug %}">
										{{ tag.name }}
										</a>
										{% if not forloop.last %}, {% endif %}
										{% endfor %}
										</p>
                                    
                            </div>
							<div class="dez-divider bg-gray-dark op4"><i class="icon-dot c-square"></i></div>
							<div class="share-details-btn">
								<ul>
                                   
									<li><h5 class="m-a0">Share Post</h5></li>
									<li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.careers101.co.ke{{ request.get_full_path|urlencode }}" class="site-button facebook button-sm"><i class="fa fa-facebook"></i> Facebook</a></li>
									<li><a href="{% url 'blog:post_share' post.id %}" class="site-button google-plus button-sm"><i class="fa fa-google-plus"></i> Google Plus</a></li>
									<li><a href="http://www.linkedin.com/shareArticle?url=https://www.careers101.co.ke{{ request.get_full_path|urlencode }}&{{ post.title }}&summary={{ post.content}}&source=https://www.careers101.co.ke" class="site-button linkedin button-sm"><i class="fa fa-linkedin"></i> Linkedin</a></li>
									<li><a href="#" class="site-button instagram button-sm"><i class="fa fa-instagram"></i> Instagram</a></li>
									<li><a href="https://www.twitter.com/share?url=https://www.careers101.co.ke" class="site-button twitter button-sm"><i class="fa fa-twitter"></i> Twitter</a></li>
									<li><a href="#" class="site-button whatsapp button-sm"><i class="fa fa-whatsapp"></i> Whatsapp</a></li>
                                    
								</ul>
							</div>
                        </div>
                        <div class="clear" id="comment-list">
                            <div class="comments-area" id="comments">

                                {% with comments.count as total_comments %}
                                <h2 class="comments-title">{{ total_comments }} Comment{{ total_comments|pluralize }}</h2>
                                    {% endwith %}
                                       
                                <div class="clearfix m-b20">
                                    <!-- comment list END -->
                                    <ol class="comment-list">
                                        {% for comment in comments %}
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author vcard"> <img  class="avatar photo" src="{% static 'images/blog/blog-user.png' %}" alt=""> <cite class="fn">Comment {{ forloop.counter }} by {{ comment.name }}</h4></cite> <span class="says">says:</span> </div>
                                                <div class="comment-meta"> <a href="#">{{ comment.created }}</a> </div>
                                                <p>{{ comment.body|linebreaks }}</p>
                                                <div class="reply"> <a href="#" class="comment-reply-link">Reply</a> </div>
                                            </div>
                                            {% comment %} <ol class="children">
                                                <li class="comment odd parent">
                                                    <div class="comment-body">
                                                        <div class="comment-author vcard"> <img  class="avatar photo" src="images/testimonials/pic2.jpg" alt=""> <cite class="fn">Comment {{ forloop.counter }} by {{ comment.name }}</cite> <span class="says">says:</span> </div>
                                                        <div class="comment-meta"> <a href="#">{{ comment.created }}</a> </div>
                                                        <p>{{ comment.body|linebreaks }}</p>
                                                        <div class="reply"> <a href="#" class="comment-reply-link">Reply</a> </div>
                                                    </div>
                                                    <!-- list END -->
                                                </li>
                                            </ol>
                                            <!-- list END --> {% endcomment %}
                                        </li>
                                        {% empty %}
                                        <p>There are no comments yet.</p>
                                        {% endfor %}
                                    </ol>
                                    <!-- comment list END -->
                                    <!-- Form -->
                                </div>
                                    <div id="respond">
                                        {% if new_comment %} 
                                        <div class="alert alert-success" role="alert">
                                            Your comment is awaiting moderation
                                        </div>                                    
                                  
                                    </div>
                                   
                                    {% else %}

                                    <div class="comment-respond" id="respond">
                                        <h4 class="comment-reply-title" id="reply-title">Leave a Comment <small> <a style="display:none;" href="#" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small> </h4>
                                        <form class="comment-form" id="commentform" method="post">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                {% bootstrap_form comment_form %}
                                                {% buttons %}
                                                    <button class="btn btn-common log-btn" type="submit">Post Comment</button>
                                                {% endbuttons %}
                                            
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Form -->
                            </div>
                        </div>
                        <!-- blog END -->
                    </div>
                </div>
            </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 col-md-5 sticky-top">
                        <aside  class="side-bar">
                            <div class="widget  recent-posts-entry">
                                <h4 class="widget-title">Similar posts</h4>
                                <ul class="posts-list">
                                    {% for post in similar_posts %}
                                <li>
                                <div class="widget-content">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                <span><i class="icon-calendar"></i>{{ post.publish }}</span>
                                </div>
                                <div class="clearfix"></div>
                                </li>
                                {% empty %}
                                    There are no similar posts yet.
                                {% endfor %}
                                </ul>
                            </div>


                            <div class="widget recent-posts-entry">
                                <h6 class="widget-title">Recent Posts</h6>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
										{% show_latest_posts 3 %}
                                        {% comment %} <div class="dez-post-info">
                                            <div class="dez-post-header">
                                                <h6 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
                                            </div>
											 
                                        </div> {% endcomment %}
                                    </div>

                                    <div class="widget recent-posts-entry">
                                        <h4 class="widget-title">Most commented posts</h4>
                                        {% get_most_commented_posts as most_commented_posts %}
                                    <ul class="posts-list">
                                        {% for post in most_commented_posts %}
                                    <li>
                                    
                                    <div class="widget-content">
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    <span><i class="icon-calendar"></i>{{ post.publish }}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                  
                                </div>
                            </div>
					 
						 
							 
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
    {% endblock  %}